admins: [
	'kataeva'
	'm1ndkiller'
	]
	
reserved_users: [
	'kataeva'
	]
	
messages:
	start: '''
		Привет 👋
		
		Мы в Контуре придумали как компенсировать офлайн-знакомства и смоллтоки у кулера в удалённом формате и написали бота, который раз в день случайно распределяет всех участников на пары. Игру мы разработали в преддверии конференций JUG Ru Group по нашим любимым направлениям. Поэтому в основном тут будут обитать дотнет-разработчики, тестировщики и фронтендеры.
		
		Ты постучался в бота, а значит, уже вступил в игру. Каждая новая итерация знакомств запускается в 12:00 (Мск). За час до этого бот перестанёт принимать новых пользователей на ближайший круг и просит всех зарегистрированных юзеров подтвердить участие. Это сделано для того, чтобы никто из желающих пообщаться не остался без пары.
		
		До скорого кофе 🖤
		'''

	help: '''
		Ты можешь общаться с ботом при помощи этих команд:
		/start — стать участником
		/stop — выйти из игры
						
		/help — получить список доступных команд
						
		В 11:00 (Мск) бот попросит тебя подтвердить участие в ближайшем круге. Ты сможешь:
		— согласиться при помощи команды /go
		— отказаться на сутки командой /nottoday
		— или остановить бота командой /stop.
		'''
		
	confirm: "Отлично! Скоро мы пришлём имя твоего собеседника на сегодня."

	decline: '''
		Жаль, сегодня не увидимся. До завтра!
		
		Может, пока посмотришь ТехКонтур.ТВ? 📺
		https://youtu.be/NSJqnhc3FvI
		Если хочешь остановить бота насовсем, просто введи команду /stop.
		'''

	reminder: '''
		Хелло 😎 Уже через час мы распределим участников на пары. Самое время подтвердить своё участие. Ты можешь:
		— согласиться при помощи команды /go
		— отказаться на сутки командой /nottoday
		— или остановить бота командой /stop
		
		Если запутаешься или забудешь команды, набирай /help.
		'''

	notification: "Вжух! Мы нашли тебе собеседника. Сегодня это @%USERNAME%. Наливай чашечку кофе и скорее договоривайся о созвоне ☕️"


							