admins: [
	'xoposhiy'
	'voka_ekb'
	]
reserved_users: [
	'voka_ekb'
	]
	
messages:
	start: '''
		Привет 👋
		
		Я умею искать случайного собеседника, кто тоже хочет поболтать про ФИИТ и поступление :)
		
		Утром и во время каждого перерыва в нашем мероприятии я буду запускать новый раунд знакомств. Я буду спрашивать, хочешь ли ты участвовать в очередном круге. И если ты подтвердишь своё участие, то я пришлю тебе контакт твоей пары.
		
		Приятных знакомств! 🖤
		'''

	help: '''
		Я понимаю такие команды:
		
		/start — сделаю тебя участником
		/stop — перестану тебя беспокоить
						
		/help — покажу это сообщение :)
						
		Периодически я буду начинать новый круг общения. И тогда буду ждать от тебя
		— /go — чтобы подтвердить твоё участие в знакомствах или
		— /no — чтобы пропустить очередной круг.
		'''

	reminder: '''
		Мы начинаем новый круг знакомств. Если в ближайший перерыв планируешь поболтать со случайным гостем нашего мероприятия — подтвердить своё участие!
		— /go — подтвердить участие
		— /no — пропустить этот круг
		— /stop — и я перестану тебя беспокоить, пока ты заново не напишешь /start
		
		Если запутаешься или забудешь команды, набирай /help.
		'''

	confirm: '''
		Отлично! Скоро мы пришлём имя твоего собеседника на ближайший круг.
		'''

	decline: '''
		Окей, в этот раз без тебя! Надеюсь ты найдешь чем занять себя в перерыве!
		Если хочешь остановить бота насовсем, введи команду /stop.
		'''
		
	notification: '''
		Вжух! Мы нашли тебе собеседника. Это 👉 @%USERNAME% Списывайтесь, встречайтесь, обсуждайте всё, что вас волнует!
		'''